<div class="card definition">
  <h5 class="card-header"><%= @definition.word.capitalize %></h5>
  <div class="card-body">

    <div class="row">

      <% button_text = @definition.definitions.length > 0 ? "add another definition" : "add a definition"%>
      <div class="col-md-2">

        <% def_label= @definition.definitions.length > 1 ? "Definitions: " : (@definition.definitions.length == 0 ? "" : "Definition: ") %>
        <label><%= def_label %></label>
      </div>

      <div class="col-md-10">
        <ul>
          <% @definition.definitions.each do |definition| %>
          <li><%= definition %></li>
          <% end %>
        </ul>
      </div>

    </div>

    <div class="go_back">
      <% button_text = @definition.definitions.length > 0 ? "add another definition" : "add a definition"%>
      <a href="/definition/<%= @definition.word_id %>/add_definition" class="float-left">➕ <%= button_text %></a>
    </div>
  </div>
</div>

<div class="go_back">
  <a href="/dictionary" class="float-left">⬅️ go back</a>
</div>
